.main-container{
    background-color: #673AB7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    mat-card{
        width: 80%;
    }
}

@media only screen and (min-width: 600px) {
    mat-card{
        width: 500px;
    }
}

mat-card {
    margin: 2em auto;
    text-align: center;
}
  
mat-form-field {
    display: block;
    font-size: large;
   
}

.buttons-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button{
    font-size: large;
    width: 48%;
}

h1{
    color: #673AB7;
    margin-bottom: 50px;
}